# Compiler files
cache/
out/

# Node.js dependencies and logs
node_modules/
npm-debug.log*

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
localhost.json

# Generated security reports
slither-report.md
slither-results.sarif
aderyn-report.md

# Coverage artifacts
lcov.info
coverage-report/
